<div class="center">
  <mat-card>
    <mat-card-title>
      Status ETF
    </mat-card-title>
    <mat-card-content class="row">
      <a href="https://statusetfs.caioruiz.com" target="_blank">
        <img src="assets/sobreposicao.jpg" alt="etf" class="image" />
      </a>
      <ul class="lista">
        <li>
          Centro de pesquisas sobre ETF, atualmente possui as seguintes funcionalidades:
          <ul class="features">
            <li>
              Ver todos os ativos que os ETFs possuem em carteira
            </li>
            <li>
              Calcular a sobreposição dos ativos dentro dos ETFs
            </li>
          </ul>
        </li>
        <li>
          URL do projeto:
          <a href="https://statusetfs.caioruiz.com" target="_blank">
            https://statusetfs.caioruiz.com
          </a>
        </li>
        <li>
          Repositório do backend:
          <a href="https://github.com/caioruizz/etf-backend" target="_blank">
            https://github.com/caioruizz/etf-backend
          </a>
        </li>
        <li>
          Repositório do frontend:
          <a href="https://github.com/caioruizz/etf-frontend" target="_blank">
            https://github.com/caioruizz/etf-frontend
          </a>
        </li>

        <li>
          Backlog do projeto:
          <a href="https://github.com/users/CaioRuizz/projects/3" target="_blank">
            https://github.com/users/CaioRuizz/projects/3
          </a>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
